body
  >header
    fixed 0 0 false 0
    z-index 500
    
  >footer
    fixed false 0 0 0
    z-index 500
    
  >main
    padding 6rem 3rem
    +media-query(all,max-width 640px)
      padding 64px 0
    
    display block
    position relative
    
    //著者名の右寄せ
    footer
      text-align right
    
    // クロスフェード
    &.ng-enter
    &.ng-leave
      absolute 0 0 false 0
    &.ng-enter
      animation fadeIn .5s
      z-index 300
    &.ng-leave
      animation fadeOut .5s

//iPhoneだとbodyに余白が無いので追記
md-content.top
  padding 1em

// 新規コメントのフェードイン処理
.chat
  &.ng-enter
    animation fadeIn .5s
  &.ng-leave
    animation fadeOut .5s

// Config angular-material
.md-select-menu-container
  z-index 600
  
.md-toolbar-tools
  >[layout]
    width 100%
body
  header
    h2[flex]
      //長すぎる配信タイトルの省略
      overflow ellipsis
    button
      //コミュ画像の拡縮
      img
        width 100%
        height auto
  footer
    .md-toolbar-tools
      label
      input
        color white
      
      .md-input-has-value
        label
          visibility hidden

.md-dialog-backdrop
  fixed 0 0 0 0!important
  z-index 1000
  
.md-dialog-container
  fixed 0 0 0 0!important

md-list
md-list *
md-list-item *
  cursor initial

.md-list-item-text
  margin-right 3em
  p
    white-space pre-line
    word-break break-all
  
md-checkbox
  .md-label
    position absolute
    height 100%
    &:before
      display inline-block
      vertical-align middle
      content " "
      height 100%
      
md-dialog
  md-input-container
    padding-bottom 0
  .md-mini:first-of-type
    md-select
      padding-top 0

// Config md-toast for priority than ui-view
md-toast
  position fixed
  z-index 1000

// Config angular-loading-bar
#loading-bar-spinner
  left auto
  right 10px
