md-content.md-whiteframe-z4
  md-list(ng-show="viewer.chats.length")
    .chat(ng-repeat="chat in viewer.chats")
      div(ng-show="chat.premium=='3'")
        md-divider(ng-show="$index>0")
        md-list-item.md-2-line
          .md-list-item-text
            p {{chat.text}}

      div(ng-hide="chat.premium=='3'")
        md-divider(ng-show="$index>0")
        md-list-item.md-2-line
          img.md-avatar(ng-click="viewer.show($event,chat.user_id)" fetch-avatar="chat.user_id" alt='noimage')
          .md-list-item-text
            h3(fetch-nickname="chat.user_id") {{chat.user_id}}
            p(read="chat") {{chat.text}}
            p.md-secondary(am-time-ago="chat.date")

  md-list(ng-hide="viewer.chats.length")
    md-list-item
      p
        | なんもないよ
