md-content.md-whiteframe-z4
  md-list(ng-show="viewer.chats.length")
    .chat(ng-repeat="chat in viewer.chats")
      div(ng-show="chat.premium=='3'")
        md-divider(ng-show="$index>0")
        md-list-item.md-2-line
          .md-list-item-text
            section
              p(ng-bind-html="chat.text | parseUrl") {{chat.text}}
            footer.md-secondary
              p: small {{chat.no}}
              p(am-time-ago="chat.date")

      div(ng-hide="chat.premium=='3'")
        md-divider(ng-show="$index>0")
        md-list-item.md-2-line
          img.md-avatar(ng-click="viewer.show($event,chat.user_id)" fetch-avatar="chat.user_id" alt='noimage')
          .md-list-item-text(read="chat")
            h3(fetch-nickname="chat.user_id") {{chat.user_id}}
            section
              p(ng-bind-html="chat.text | parseUrl")
            footer.md-secondary
              p: small {{chat.no}}
              p(am-time-ago="chat.date")

  md-list(ng-hide="viewer.chats.length")
    md-list-item
      p
        | なんもないよ

//- md-content.md-whiteframe-z4(ng-show="waitForNext")
//-   md-divider
//-   md-list
//-     .chat
//-       md-list-item
//-         p
//-           | 放送が終了しました。５分以内に同じコミュニティで放送があれば、自動的に移動します…。
