md-dialog(aria-label='サーバーへ接続する')
  form(ng-submit="view.submit()")
    md-toolbar
      .md-toolbar-tools
        h2 サーバーへ接続する
        span(flex)
        md-button.md-icon-button(type="button" ng-click="view.cancel()")
          md-icon(aria-label='Close dialog') close
    md-dialog-content
      md-input-container
        label チャンネルid
        input(ng-model='view.$storage.id' autofocus)
      md-input-container
        label セッション(82 or 84文字)
        input(ng-model='view.$storage.session' pattern="^[a-zA-z0-9]$")
    .md-actions(layout='row')
      md-button.md-primary
        | 接続する
