md-content.top
  h2.md-display-3
    | ─ welcome to underground ─

  p nicolive.ioへようこそ。現在βバージョンを公開しています。
  p
    small ▶ボタンから、<a href="https://github.com/59naga/nicolive.io#usersessionについて-">じぶんのセッションの使用して</a>、配信コメントを閲覧できます。
  p
    small また、<a href="https://github.com/gtk2k/nicolive.berabou.me-boot-button">ブラウザに拡張機能を追加して</a>、すぐにコメントビューアを開くこともできます。

  p
    small 不具合やご意見、プルリクエストは、<a href="https://github.com/59naga/nicolive.berabou.me/issues">該当リポジトリ</a>に よろしくお願いします。

  footer
    p
      small Author <a href="https://twitter.com/horse_n_deer">@59naga</a>
