md-toolbar
  .md-toolbar-tools
    md-button.md-icon-button(ng-click="header.dialog($event)" aria-label='View')
      md-icon play_arrow
    //- md-button.md-icon-button(aria-label='Setting')
    //-   md-icon settings

    h2(flex)
      | {{title}}

    h2
      md-button(href="https://github.com/59naga/nicolive.io") Fork me github
