md-toolbar
  .md-toolbar-tools
    md-button.md-icon-button(ng-click="header.dialog($event)" aria-label='View')
      md-icon(ng-hide="picture_url") play_arrow
      img.face(ng-show="picture_url" ng-src="{{picture_url}}")
    h2(flex)
      | {{title || 'Nicolive.io'}}

    md-select(ng-model='$storage.voice' placeholder='Voice')
      md-option(ng-repeat='name in header.voiceNames track by $index' value='{{name}}') {{name}}

    h2
      md-button(href="https://github.com/59naga/nicolive.io") Fork me on github
