md-content
  p.md-display-2
    | ─ welcome to underground

  p nicolive.ioへようこそ。現在αバージョンを公開しています。
  p ▶ボタンから、<a href="https://github.com/59naga/nicolive.io#usersessionについて-">じぶんのセッションの使用して</a>、配信コメントを閲覧できます。

  footer
    p Author <a href="https://twitter.com/horse_n_deer">@59naga</a>
